.cart-container {
  padding: 10px 15px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
}

.cart-products-container {
  width: 60%;
  min-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-products-container h3 {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
}

.cart-products {
  width: 100%;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.cart-products::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

.cart-products::-webkit-scrollbar-thumb {
  background-color: #fc7a1e;
}

.cart-product {
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.cart-product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-product-description h2 {
  font-weight: 500;
  font-size: 25px;
}

.cart-product-description p {
  font-size: 20px;
}

.cart-product-amounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.cart-product-quantity {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  outline: none;
}

.product-total {
  font-weight: 500;
}

.cart-products-summary {
  margin-top: 50px;
  padding: 10px;
  width: 35%;
  min-width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  position: relative;
}

.cart-products-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.product-summary-item {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-button-container {
  width: 90%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 980px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
  }

  .cart-products-container {
    width: 80%;
    max-width: 800px;
  }

  .cart-products-summary {
    max-width: 500px;
  }
}
